## Kaggle Competition 1
### House Prices - Advanced Regression Techniques
#### Yujia

In [2]:
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in d:\anaconda3\lib\site-packages (22.3.1)
Collecting pip
  Downloading pip-23.0.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 3.4 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.3.1
    Uninstalling pip-22.3.1:
      Successfully uninstalled pip-22.3.1
Successfully installed pip-23.0.1

WARNING: Ignoring invalid distribution -ip (d:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -ip (d:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda3\lib\site-packages)

In [ ]:
!pip3 install d2l==0.17.5

In [6]:
from d2l import torch as d2l

ModuleNotFoundError: No module named 'd2l'

In [4]:
import numpy as np
from matplotlib import pyplot as plt
from IPython import display
import random
import torch
from torch import nn
from torch.utils.data import Dataset, DataLoader
import torchvision
import torchvision.transforms as transforms
import pandas as pd

#### 读数据

In [39]:
train_data = pd.read_csv('./Dataset/train.csv')
test_data = pd.read_csv('./Dataset/test.csv')
train_data.shape

(1460, 81)

In [40]:
all_features = pd.concat((train_data.iloc[:, 1:-1], test_data.iloc[:, 1:]))
all_features.iloc[0:6, [0, 1, 2, 3, -3, -2, -1]]

   MSSubClass MSZoning  LotFrontage  LotArea  YrSold SaleType SaleCondition
0          60       RL         65.0     8450    2008       WD        Normal
1          20       RL         80.0     9600    2007       WD        Normal
2          60       RL         68.0    11250    2008       WD        Normal
3          70       RL         60.0     9550    2006       WD       Abnorml
4          60       RL         84.0    14260    2008       WD        Normal
5          50       RL         85.0    14115    2009       WD        Normal

#### 预处理数据
1、连续数据的处理（数字型数据处理）

In [41]:
numeric_features = all_features.dtypes[all_features.dtypes != 'object'].index
all_features[numeric_features] = all_features[numeric_features].apply(
    lambda x: (x - x.mean()) / (x.std()) 
) # 将连续的数字值 转换为 均值为 0 的连续值（标准化）
all_features[numeric_features] = all_features[numeric_features].fillna(0) #因为均值为 0 ，所以所有缺失值可以补为0
all_features.iloc[0:6, [0, 1, 2, 3, -3, -2, -1]]

   MSSubClass MSZoning  LotFrontage   LotArea    YrSold SaleType SaleCondition
0    0.067320       RL    -0.184443 -0.217841  0.157619       WD        Normal
1   -0.873466       RL     0.458096 -0.072032 -0.602858       WD        Normal
2    0.067320       RL    -0.055935  0.137173  0.157619       WD        Normal
3    0.302516       RL    -0.398622 -0.078371 -1.363335       WD       Abnorml
4    0.067320       RL     0.629439  0.518814  0.157619       WD        Normal
5   -0.167877       RL     0.672275  0.500430  0.918095       WD        Normal

2、离散数据的处理（非数字数据处理）

In [42]:
# 使用 pd.get_dummies 处理非数字数据
# 举例： 假设某个特征为 性别：（男， 女）
# 则会处理成： 性别_男 = 1， 性别_女 = 0
all_features = pd.get_dummies(all_features, dummy_na=True)
all_features.iloc[0:6, [0, 1, 2, 3, -3, -2, -1]]

,MSSubClass,LotFrontage,LotArea,OverallQual,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_nan
0,0.067320,-0.184443,-0.217841,0.646073,1,0,0
1,-0.873466,0.458096,-0.072032,-0.063174,1,0,0
2,0.067320,-0.055935,0.137173,0.646073,1,0,0
3,0.302516,-0.398622,-0.078371,0.646073,0,0,0
4,0.067320,0.629439,0.518814,1.355319,1,0,0
5,-0.167877,0.672275,0.500430,-0.772420,1,0,0

In [43]:
all_features.shape

(2919, 331)

In [44]:
n_train = train_data.shape[0]
train_features = torch.tensor(all_features[:n_train].values, dtype=torch.float32)
test_features = torch.tensor(all_features[n_train:].values, dtype=torch.float32)
train_labels = torch.tensor(train_data.SalePrice.values.reshape(-1, 1), dtype=torch.float32)

In [45]:
class MyDataset(Dataset):
    def __init__(self, features, labels):
        self.x = features
        self.y = labels
        self.len = len(self.x)
    def __getitem__(self, index):
        return self.x[index], self.y[index]
    def __len__(self):
        return self.len

In [46]:
# train_set = MyDataset(train_features, train_labels)
# train_iter = DataLoader(
#     dataset = train_set,
#     batch_size = 64,
#     shuffle = True,
#     drop_last = True
# )
# for X, y in train_iter:
#     print(X.shape)
#     break

#### 网络定义

In [47]:
in_features = train_features.shape[1]
class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__() #从这里往上的内容就是照抄，每次都一样的
        self.linear_net = nn.Sequential(
            nn.Linear(in_features,1)
        )
    def forward(self,x):
        x = self.linear_net(x)
        return x
def get_model():
    model = Net()
    return model

In [48]:
def NetInit(m):
    if type(m) == nn.Linear:
        torch.nn.init.normal_(m.weight, mean=0, std=0.01)

In [49]:
num_epochs = 100
lr = 0.1
wd = 0
loss = torch.nn.MSELoss()

In [50]:
def log_rmse(model, features, labels):
    clipped_preds = torch.clamp(model(features), 1, float('inf'))
    rmse = torch.sqrt(loss(torch.log(clipped_preds), torch.log(labels)))
    return rmse.item()

In [76]:
def train(model, train_features, train_labels, test_features, test_labels):
    train_ls, test_ls = [], []
    train_iter = DataLoader(
        dataset = MyDataset(train_features, train_labels),
        batch_size = 64,
        shuffle = True,
        drop_last = True
    )
    opt = torch.optim.Adam(model.parameters(), lr=lr, weight_decay=wd)
    for epoch in range(1, num_epochs+1):
        if(epoch == 100):
            print('done')
        for (X, y) in train_iter:
            opt.zero_grad()
            l = loss(model(X), y)
            l.backward()
            opt.step()
        train_ls.append(log_rmse(model, train_features, train_labels))
        if test_labels is not None:
            test_ls.append(log_rmse(model, test_features, test_labels))
    return train_ls, test_ls

In [77]:
def get_k_fold_data(k, i, X, y):
    assert k > 1  # 断言，结果为false会触发异常
    fold_size = X.shape[0] // k
    X_train, y_train = None, None
    for j in range(k):
        idx = slice(j * fold_size, (j+1) * fold_size)
        X_part, y_part = X[idx, :], y[idx]
        if j == i:
            X_valid, y_valid = X_part, y_part
        elif X_train is None:
            X_train, y_train = X_part, y_part
        else:
            X_train = torch.cat([X_train, X_part], 0)
            y_train = torch.cat([y_train, y_part], 0)
    return X_train, y_train, X_valid, y_valid

In [78]:
def k_fold(k, X_train, y_train):
    train_l_sum, valid_l_sum = 0, 0
    for i in range(k):
        model = get_model()
        data = get_k_fold_data(k, i, X_train, y_train)
        train_ls, valid_ls = train(model, *data)
        train_l_sum += train_ls[-1]
        valid_l_sum += valid_ls[-1]
#         if i==0:
        print(f'折{i+1}, 训练log_rmse{float(train_ls[-1]):f},'
                  f'验证log_rmse{float(valid_ls[-1]):f}')
    return train_l_sum / k, valid_l_sum / k

In [79]:
k = 5
train_l, valid_l = k_fold(k, train_features, train_labels)
print(f'{k}-折验证, 平均训练log_rmse{float(train_l):f},'
      f'平均验证log_rmse{float(valid_l):f}')

done
折1, 训练log_rmse3.107493,验证log_rmse3.121849
done
折2, 训练log_rmse3.108116,验证log_rmse3.118796
done
折3, 训练log_rmse3.106662,验证log_rmse3.121690
done
折4, 训练log_rmse3.115473,验证log_rmse3.092014
done
折5, 训练log_rmse3.109590,验证log_rmse3.112544
5-折验证, 平均训练log_rmse3.109467,平均验证log_rmse3.113379